.table {
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
}

.startingTable {
    background-color: #FFFFE0;
}

.tableBodyColumns {
    border: 1px solid black;
    color: black;
    text-align: center;
}

.tableColumn:nth-child(odd) {
    background-color: #fff;
}

.tableColumn:nth-child(even) {
    background-color: #f2f2f2;
}